/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --background-color: linear-gradient(to left, #211c34, #28243c);
  --gradient-font-nav: linear-gradient(60deg, #9866d6, #e24fa4, #379ac9);
  --hover-color: #02a9cc;
  --button-color: #9368d9;
  --Pink-icon-color: #df4ea1;
  --first-text-color: #f1f1f4;
  --second-text-color: #adabba;
  --Easy-color: #22bb58;
  --Medium-color: #ee7219;
  --hard-color: #de4244;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", system-ui;

  --biggest-font-size: 48px;
  --title-font-size: 24px;
  --normal-font-size: 20px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--background-color);
  color: var(--first-text-color);
}

a {
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: space-between;
}
.NavLogo {
  display: flex;
  padding: 20px 15px;
}
.LogoImg {
  display: inline-block;
  margin: 0px 10px;
  color: var(--button-color);
  font-size: 30px;
}
.LogoImg:hover {
  color: var(--Pink-icon-color);
}
.LogoName {
  font-size: var(--title-font-size);
  font-weight: bold;
  background: var(--gradient-font-nav);
  background-clip: text;
  background: var(--gradient-font-nav);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.NavSignIn {
  padding: 20px 15px;
}
.NavLeaderboardPage {
  font-size: 20px;
  color: var(--first-text-color);
  margin: 0px 35px;
}
.SingInBTN {
  margin: 0px 35px;
  background-color: transparent;
  filter: blur(20);
  border: 1px solid white;
  padding: 5px 10px;
  color: var(--first-text-color);
  border-radius: 10px;
  font-size: var(--normal-font-size);
}
.SingInBTN:hover {
  background-color: var(--hover-color);
}
.NavLeaderboardPage {
  font-weight: var(--font-medium);
}
.NavLeaderboardPage:hover {
  color: var(--hover-color);
}
.ThemeMode {
  padding: 10px;
  margin: 0px 35px;
  border: 1px solid rgba(255, 255, 255, 0.304);
  border-radius: 50%;
  color: #d8b119;
}
.ThemeMode:hover {
  background-color: var(--hover-color);
}