/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --background-color: linear-gradient(to left, #211c34, #28243c);
  --gradient-font-nav: linear-gradient(60deg, #9866d6, #e24fa4, #379ac9);
  --hover-color: #02a9cc;
  --button-color: #9368d9;
  --Pink-icon-color: #df4ea1;
  --first-text-color: #f1f1f4;
  --second-text-color: #adabba;
  --Easy-color: #22bb58;
  --Medium-color: #ee7219;
  --hard-color: #de4244;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", system-ui;

  --biggest-font-size: 48px;
  --title-font-size: 24px;
  --normal-font-size: 20px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--background-color);
  color: var(--first-text-color);
}

a {
  text-decoration: none;
}
/* ============Home============== */
/* Nav */
nav {
  display: flex;
  justify-content: space-between;
}
.NavLogo {
  display: flex;
  padding: 20px 15px;
}
.LogoImg {
  display: inline-block;
  margin: 0px 10px;
  color: var(--button-color);
  font-size: 30px;
}
.LogoImg:hover {
  color: var(--Pink-icon-color);
}
.LogoName {
  font-size: var(--title-font-size);
  font-weight: bold;
  background: var(--gradient-font-nav);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.NavSignIn {
  padding: 20px 15px;
}
.NavLeaderboardPage {
  font-size: 20px;
  color: var(--first-text-color);
  margin: 0px 35px;
}
.SingInBTN {
  margin: 0px 35px;
  background-color: transparent;
  filter: blur(20);
  border: 1px solid white;
  padding: 5px 10px;
  color: var(--first-text-color);
  border-radius: 10px;
  font-size: var(--normal-font-size);
}
.SingInBTN:hover {
  background-color: var(--hover-color);
}
.NavLeaderboardPage {
  font-weight: var(--font-medium);
}
.NavLeaderboardPage:hover {
  color: var(--hover-color);
}
.ThemeMode {
  padding: 10px;
  margin: 0px 35px;
  border: 1px solid rgba(255, 255, 255, 0.304);
  border-radius: 50%;
  color: #d8b119;
}
.ThemeMode:hover {
  background-color: var(--hover-color);
}
/* ============HOME================ */
.Home {
  display: flex;
  justify-content: center;
  /* background: #02a9cc; */
  padding: 60px 0px;
  margin: 0px 120px;
}
.HomeIntro {
  padding: 20px 0px;
  width: 40%;
  margin-right: 40px;
}
.HomeIntroTitle {
  margin-top: 40px;
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #9866d6 7%,
    #e24fa4 63%,
    #9866d6 84%
  );
}
.HomeIntroParagraph {
  margin: 20px 0px;
  color: var(--second-text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.ReadToPlay {
  background-color: #22bb58;
}
.HomeIntroFeatures {
  display: flex;
  font-size: 15px;
}
.MultiCateguries,
.DifficultyLevels,
.Leaderboard {
  padding: 10px;
}
.ri-brain-line {
  color: var(--button-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
}
.ri-book-line {
  color: var(--Pink-icon-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
}
.ri-medal-2-line {
  color: #d8b119;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
}
.ReadToPlay {
  background-color: #9368d91c;
  backdrop-filter: blur(200px);
  box-shadow: 0 0 4px #6e618452;
  border: 1px solid #9368d952;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
}
.ReadToPlayTitle {
  font-size: var(--title-font-size);
  font-weight: var(--font-medium);
  margin: 20px 0;
}
.LabelCategory {
  display: block;
  font-size: 15px;
  color: var(--second-text-color);
  margin: 10px 0px;
}
#Category {
  width: 100%;
  background-color: #e2e1e50f;
  backdrop-filter: blur(200px);
  border: 1px solid #9368d952;
  border-radius: 5px;
  padding: 10px;
  color: var(--first-text-color);
  outline: none;
}
option {
  background-color: #211c34;
  backdrop-filter: blur(200px);
}
.Levels {
  display: flex;
  justify-content: space-between;
}
.LabelDifficult {
  display: block;
  margin: 8px 0px;
}

.LevelBorder {
  display: flex;
  border: 1px solid #9368d952;
  border-radius: 9px;
  padding: 5px 45px 5px 10px;
  font-size: 15px;
  margin: 10px;
}
.LevelBorder:hover {
  backdrop-filter: blur(100px);
}
.EasyLabel {
  color: var(--Easy-color);
  font-weight: var(--font-bold);
  cursor: pointer;
}
.MediumLabel {
  color: var(--Medium-color);
  font-weight: var(--font-bold);
  cursor: pointer;
}
.HardLabel {
  color: var(--hard-color);
  font-weight: var(--font-bold);
  cursor: pointer;
}
.StartQuizBTN {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 15px;
  color: var(--first-text-color);
  background-color: var(--button-color);
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.ri-play-circle-line {
  position: absolute;
  bottom: 50px;
  right: 160px;
}
.StartBTNQuiz:hover .ri-play-circle-line {
  translate: 20px 0;
}
.StartBTNQuiz:hover .StartQuizBTN {
  transform: scale(0.96);
}
.Custom-radio-BTN {
  display: inline;
  width: 15px;
  height: 15px;
  border: 2px solid #9866d6;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Custom-radio-BTN .Check-mark {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--button-color);
  border-radius: 50%;
  display: inline;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.Custom-radio-BTN input {
  display: none;
}

.Custom-radio-BTN input:checked + .Check-mark {
  opacity: 1;
}
